<!-- <div class="container-fluid center" all>
<figure class="figure">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Welcome
              </a>
        </div>
      </nav>
    <img src="assets/img/logo.jpg" class="figure-img img-fluid rounded"  width="300" height="300"> 

    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
</div> -->

<div class="card text-center" style="width: 58rem;">
    <div class=" card-header" style="text-align: left; background-color: burlywood;">
        <h3>Welcome</h3>
    </div>
    <div class="card-body" id="search">
       
        <img src="assets/img/logo.jpg" class="figure-img img-fluid rounded"  width="300" height="300"> 
    </div>
    <p>code writte by rohan</p>
</div>